@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
header{margin: auto;
  display:grid;
  width: 1000px;
  height:200px;
grid-template-columns:100px 500px;

position: relative;}


header > a { display: block;
  }

header > nav {
  position: absolute;
  right: 0px;
  width: auto;
  height: 100px;
  display: grid;
  
}

.contato {  display: block;
background-color: #1A1919;;
    font-family: 'Roboto';
     text-decoration: none;
    font-weight: 700;
    font-size: 1.0rem;
    letter-spacing: 0.015em;
    align-self: center;
      justify-self: center;    
    color: #ffffff ;
  padding: 30px 50px;
  border-radius: 10px 0px 0px 10px;
}
    
    header  a:hover {padding-right:150px; transition: 0.5s;}

    main{width: 1000px; margin: auto; }

.grid01  {
display:grid;
background-image: url(foto01.png);
background-size: cover;
background-attachment: fixed;
height: 536px;
background-position: center right;
box-shadow: inset 1px 1px 10px black ;
}


.intro{background-image: url(img/intro2.svg); background-color: #0d0d0da6;
background-repeat: no-repeat; width: 536px; height: 188px;
 align-self: center;  background-position: center; border-radius: 0px 5px 5px 0px; padding-left: 50px;  }
 
 .trans {display:grid;
grid-template-columns: 500px 500px; }

 .detalhe1{width:500px; height:38px; background-color:#0D0D0D;}

.trans > h1 {text-align: center; margin: 0px; padding: 0px;
  font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 30px;
color: #000000;

 }


 .grid02{width:1000px;
height: auto px;
display: grid;
grid-template-columns: 500px 500px;
background-color: #333233; }

.foto02 {background-image: url(img/foto02.png); width: auto; height: 536px; background-size: cover;
margin:30px 40px 30px 40px; box-shadow: 1px 1px 10px black;}



.grid02  h1 {margin-top: 40px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  
  /* or 150% */
  
  color: #666565;  
  }

  .grid02 p{font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-transform: lowercase;
    display: grid;
    color: #FFFBFC;}
.ctt > p{display:inline-block; margin-top: 20px; }
   .grid02 .email {width:20px; height: 18px; padding-right:10px; }
   .grid02 .insta{width: 24px; height: 24px; padding-right:10px; }
   .grid02 .wpp{width: 24px; height: 24px; padding-right:10px;}
 

   footer{margin: auto; width: 1000px; position: relative;}
 .rodape {width:500px; height:38px; background-color: #FF004D; position: absolute;
right: 0px; display: grid;}
