header{margin: auto;
  display:grid;
  width: 1000px;
  height:200px;
grid-template-columns:700px 700px;

position: relative;}


header > img { 
  }

header > nav {
  position: absolute;
  right: 0px;
  width: 22rem;
  height: 7rem;
  display: grid;
  background: #FF004D;
  border-radius: 10px 0px 0px 10px;}

  header  a{  
    font-family: 'Roboto';
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 38px;
        letter-spacing: 0.015em;
        align-self: center;
        justify-self: center;    
    color: #4D041A;}

main  { margin: auto; width: 1000px;
display: grid;
grid-template-columns: 500px 500px;

position: relative;}

main  img {width:430px;
height: 536px; position:absolute;
top: 20px; border-radius: 20px;}